


body{
   background-color: rgb(136, 93, 64); 
}

#content{
    margin-left: 10%;
    margin-right: 10%;
    
}


#movie-contain{
    padding: 5px;
    background-color: burlywood;

}

img{
    width: 200px;
}

#side1{
        
        width: 200px;
        height: 200px;
        transition: transform .2s;
        
    }

#side2{
    padding: 5px;
}

ul{
    margin-left:-40px;
}
li{
    list-style: none;
}

  
  #side1:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }



@media (min-width: 768px) {
    
    #movie-contain{
        display: flex;
    }
    
}