/*Dillion Norris 242*/

/* structure*/

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #454f4d;
}
#content {
  background: #0c5648;
  width: 75%;
  padding: 12px;
  margin: auto;
  border-radius: 5px;
}
#header {
  background-color: #1f2423;
  margin-top: 0%;
  padding: 15px;
  border-color: rgba(65, 65, 65, 0.548);
  border-radius: 3px;
  border: solid;
}
.assignments {
  margin: 2px;
  padding: 5px;
}
.assignments h2,
p {
  text-align: center;
  padding: 2px;
}

.assignments a {
  margin: 5px;
  padding: 0px;
  background: #0c5648;
}

/*Navigation */
a {
  text-decoration: none;
  color: black;
  padding: 4px;
  background-color: #b4cfca;
}
a:hover {
  background-color: #1ee8d6;
}
a.NW:hover {
  background-color: red;
}

/*Images*/
img {
  border: 2px solid black;
  border-radius: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.assignments img :hover {
  background: #1ee8d6;
}

/*headings*/
h1 {
  color: #40e3c5;
}
h2 {
  color: #2ddaba;
  text-align: center;
}
p {
  font-size: large;
  background-color: #b4cfca;
}

/* table */
table {
  border-color: #454f4d;
  border: solid;
}
th,
td {
  padding: 4px;
}
th {
  background-color: #86e8d6;
}
/*Lists*/
ul {
  font-size: x-large;
  line-height: 30px;
}
li {
  padding: auto;
}

/*footer */

footer {
  background-color: #1f2423;
  margin-bottom: 0%;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
}
footer p {
  background-color: #1f2423;
  color: aliceblue;
}

@media (min-width: 870px) {
  .assignments {
    display: flex;
  }
  .assignments img :hover {
    background: #1ee8d6;
  }
}
