/*Dillion Norris 242*/

/* structure*/

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("images/backgroundconfetti.png");
}
#content {
  background: #0c5648;
  width: 75%;
  padding: 12px;
  margin: auto;
  border-radius: 5px;
}
#header {
  background-color: #454f4d;
  margin-top: 0%;
  padding: 15px;
  border-color: rgba(65, 65, 65, 0.548);
  border-radius: 3px;
  border: solid;
}

/*Navigation */
a {
  text-decoration: none;
  color: black;
  padding: 4px;
}
a:hover {
  background-color: #1ee8d6;
}
a.NW:hover {
  background-color: red;
}

/*Images*/
img {
  border: 3px solid black;
  border-radius: 4px;
}

/*headings*/
h1 {
  color: #40e3c5;
}
h2 {
  color: #2ddaba;
}

/* table */
table {
  border-color: #454f4d;
  border: solid;
}
th,
td {
  padding: 4px;
}
th {
  background-color: #86e8d6;
}
