

body {
  background-color: rgb(41, 41, 41);
}

#run-contain,
#fund-contain {
  background-color: rgb(0, 162, 255);
}
h2,
h1,
h3 {
  color: rgb(41, 41, 41);
}


#run-contain{
width: 50%;
margin-left: 5px;
margin-right: 5px;
}
#man {
    --x : 5%;
    margin-left: var(--x);
  color: black;
  position: relative;
  width: 50px;
  height: 50px;
}
#man img {
    max-height: 100%;
    max-width: 100%;
}

#meter {
  margin: 10px;
  background-color: aliceblue;
  width: 50px;
  height: 200px;
  background: rgb(255, 255, 255);
}

@media (min-width: 500px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #man{
    width: 100%;
    display: block;
    position: relative;

  }
}
