
#quote-contain{
    background-color: blue;
    padding: 5px;
    margin: 5px;
    width:300px;
    
}





/*rainbow */
.rainbow-contain{
    background-color: blue;
    padding: 5px;
    margin: 5px;

}
#rainbow-button{
    width: 25%;
}
.rainbow-contain h2{
    text-align: center;
}
#pot{
    
    position:absolute;
    top: 160px;
    left: 65%;
    visibility: hidden;

}
.rainbow{
    border-style: solid;

}


#red,#orange,#yellow,#green,#blue,#purple{
    height: 10px;
    width: 300px;
}

#red{
    background-color: red;
    visibility: hidden;
}
#orange{
    background-color: orange;
    visibility: hidden;
}
#yellow{
    background-color: yellow;
    visibility: hidden;
}
#green{
    background-color: green;
    visibility: hidden;
}
#blue{
    background-color: blue;
    visibility: hidden;
}
#purple{
    background-color: purple;
    visibility: hidden;
}





@media (min-width:500px) {
    
    body{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row
    }
    .rainbow-contain{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #pot{
        top: 110px;
    }

}