
header{
    background-color: aquamarine;
    text-align: center;
    border: solid;
}
footer{
    text-align: center;
    background-color: aquamarine;
}
#square{
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.move{
    position: relative;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
}

@keyframes anim-square{
    0%{background-color: bisque;}
    50%{background-color: rgb(255, 0, 191);}
    100%{ background-color: black;}

}